<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>
    <test name="RetryMultiple">
        <classes>
            <class name="tests.TripSearchTest"/>
            <class name="tests.FlightSearchTest"/>
            <class name="tests.BaggageAndSeatsTest"/>
            <class name="tests.AutoAndHotelsTest"/>
            <class name="tests.PaymentTest"/>
        </classes>
    </test> <!-- Test -->
</suite>